cat > .gitignore << 'EOF'
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# VS Code
.vscode/

# Archivos temporales
*.log
*.tmp

# Excel de salida / reportes
Reporte_Modelo_prod.xlsx
Reporte_Modelo_dev.xlsx
Estadisticos_Modelo.xlsx
inventario_a_rotar.xlsx
Analisis_Impacto_Compraventero.xlsx
Impacto compraventero.xlsx
~$*.xlsx
# Credenciales
bigqery.json
*.json

# Datos pesados o sensibles
TABLAS DOSR TARIFAS.xlsx
costos_agrupados.xlsx
estadisticos_ventas_v2.xlsx

EOF

consulta_placas_render/
Analisis_Impacto_Compraventero.xlsx
Reporte_Modelo_dev.xlsx
Reporte_Modelo_prod.xlsx
Estadisticos_Modelo.xlsx
inventario_a_rotar.xlsx
~$*.xlsx
